.sidenav--section {
    display: flex;
    flex-direction: column;
    height: 1024px;
    min-width: 117px;
    align-items: center;
    justify-content: space-between;
    background-color: #020203;
}

.sidenav--nav {
    display: flex;
    flex-direction: column;
    margin-top: 246px;
}

.sidenav--link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    margin: 10px 0;
}

.sidenav--copyright__text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 12px;
    color: #fff;
    margin-bottom: 59px;
}

@media screen and (max-width: 1300px) {
    .sidenav--section {
        height: auto;
    }
}