@font-face {
    font-family: 'Roboto';
    src: url(assets/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto medium';
    src: url(assets/Roboto/Roboto-Medium.ttf);
}

body {
    font-family: 'Roboto', sans-serif;
}